@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-linear: linear-gradient(141deg, #969699, #1e1e22);
  --primary-white: #fff;
  --light-blue: #f8fafc;
  --primary-black: #000;
  --taxonomy-black: #030711;
  --light-border: #e2e8f0;
  --dark-border: #1d283a;
}

@layer components {
  body {
    @apply bg-[#f3f5f6] dark:bg-taxonomyBlack;
  }

  .menu-container {
    @apply clip-bar1 invisible absolute top-28 z-50 flex h-[150px] w-60 flex-col justify-center rounded-xl bg-white pl-4 text-lg font-semibold opacity-0 shadow-menuShadow transition-all duration-500 mm:right-10 md:right-16 lg:right-44;
  }

  .menu-container.active {
    @apply clip-bar2 visible opacity-100 transition-all duration-500;
  }
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  .nav-link.active > span {
    color: var(--taxonomy-black);
  }

  /*  */
  /*  */
}

@layer utilities {
  /* menu bar clips.. */
  .clip-bar1 {
    clip-path: circle(0% at 100% 120%);
  }
  .clip-bar2 {
    clip-path: circle(150% at 100% 100%);
  }
}
