@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main-linear: linear-gradient(141deg, #969699, #1e1e22);
  --primary-white: #fff;
  --primary-black: #000;
  --light-blue: #F8FAFC;
  --light-border:#E2E8F0;
}


@layer components {
  body {
    @apply dark:bg-taxonomyBlack bg-[#f3f5f6]
  }

  .menu-container {
    @apply bg-white w-52 h-40 rounded-lg mm:right-10 md:right-16 lg:right-40 top-28 absolute flex flex-col pl-6 pt-3 font-semibold text-lg shadow-mainShadow opacity-0 z-50 transition-all duration-500
  }

  .menu-container.active {
    @apply opacity-100 transition-all duration-500
  }

}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  .nav-link.active > span {
    color: #000;
  }

  .introduction :is(h2, span, p),
  .testimonial-head h2,
  .skills-section :is(h2,p),
  .projects-head :is(h2,p),
  .testimonial-head :is(h2,p) {
    background-image: var(--main-linear);
  }

  .testimonial-theme {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all .8s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
  }

  .testimonial-theme:hover {
    transform: scale(1.1);
    transition: all .8s cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  .form-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* BUTTON FILL LEFT ANIMATION */

  .button-left {
    background-color: #0A111D;
    display: inline-block;
    padding: 15px 45px 15px 40px;
    position: relative;
    text-decoration: none;
    transition: all .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    z-index: 1;
  }

  .button-left::after,
  .button-left::before {
    background-color: #0A111D;
    transition: all .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    border-radius: 2px;
    content: '';
    position: absolute;
    z-index: -1;
  }

  .left:before {
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
  }

  .left:hover::before {
    right: 0;
  }

  .swiper-slide {
    background-color: red !important;
  }
}

